.card-width {
  max-width: 380px !important;
}
.modal-width {
  max-width: 400px !important;
}
.paraFont {
  font-size: 0.9rem !important;
  line-height: 1.5;
}
.spanFont {
  font-size: 0.9rem !important;
  font-weight: bold;
  line-height: 1.5; 
}