$color-dark: #2E2E2E;
$color-dark-grey: #6C6C6C;
$color-light-grey: #B4B4B4;
$color-lighter-grey: #FAFAFA;

$color-danger: #F62F5E;
$color-info: #6EB2FB;
$color-warning: #F1AD3D;
$color-success: #00D3CA;
$color-yellow: #EFFD90;
$color-primary: #1c96d6;
