$color-primary: #1c96d6;
$color-info: #6EB2FB;
$accent-color: #00478a;

body {
  line-height: 1.5;
}

.voomsway-filter {
  font-family: 'OpenSans', sans-serif;
  padding: 33px 33px 23px 33px;
  background-color: rgba(0, 0, 0, .5);
}

.voomsway-form {
  display: flex;
  flex-wrap: wrap;

  .vway-select-field-3 {
    flex: 0 0 calc(25% - 9px);
    margin-bottom: 10px;
    margin-right: 12px;
  }

  .vway-select-field-3:nth-of-type(4n) {
    margin-right: 0;
  }

  .vway-select-field-4 {
    flex: 0 0 calc(33.333% - 8px);
    margin-bottom: 10px;
    margin-right: 12px;
  }

  .vway-select-field-4:nth-of-type(3n) {
    margin-right: 0;
  }

  .vway-select-field-12 {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  .vway-form-label {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 6px;
  }

  .react-select__menu {
    z-index: 999;
    background-color: #ffffff;
    border: solid 1px #e4edf3;
    margin-top: 0;
    border-radius: 0 0 4px 4px;

    .react-select__option {
      font-size: 12px;
      padding: 12px 20px;
      user-select: none;
      color: #000000;
      cursor: pointer;
    }
    .react-select__option--is-focused {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .react-select__control--is-disabled {
    background-color: #e3e3e3 !important;
  }

  .react-select__menu-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  .react-select__single-value,  .react-select__placeholder{
    font-size: 12px;
    color: #000000;
  }

  .react-select__control {
    height: 42px;
    font-size: 12px;
    border: solid 1px #dfe8ef !important;
    background: #ffffff;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  .react-select__input input[type=text] {
    margin: 0;
    line-height: inherit;
    border-radius: unset;
    height: 100%;
    font-size: inherit !important
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__value-container {
    height: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .react-select__dropdown-indicator {
    color: #88a6b7;
  }

  .react-select__multi-value {
    height: 24px;
    border-radius: 17px;
    background-color: #ffffff;
    border: solid 1px #eff2f6;

    .react-select__multi-value__label {
      color: #94a1b8;
    }

    .react-select__multi-value__remove {
      cursor: pointer;
      color: #e9ecef;

      &:hover {
        background: transparent;
      }
    }
  }

  .trip-type-group {
    display: inline-flex;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 0;
    > div {
      padding: 5px 10px;
      width: 100%;
      display: flex;
    }

    input[type=radio] {
      //position: absolute;
      //clip: rect(0,0,0,0);
      //pointer-events: none;
      appearance: none;
    }
  }

  .vm-btn-secondary {
    flex: 1 1 auto;
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 12px;
    border-radius: 0;
    user-select: none;
    line-height: 1.5;
    margin-bottom: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;

    &.active {
      color: #fff;
      background-color: #00478a;
      border-color: #00478a;
    }
  }

  .btn-vm-custom-primary {
    width: 100%;
    border: solid 1px $accent-color;
    background-color: $accent-color;
    font-size: 12px;
    font-weight: 700;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    &:hover {
      background-color: darken($accent-color, 5%);
    }
    &:disabled {
      opacity: 0.8;
      &:hover {
        opacity: 0.8;
        background-color: $accent-color !important;
      }
    }
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
